*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.container{
    width:100vw;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    position:relative;
    background:conic-gradient(red,blue,aqua,orange,white,red)
}
#frm{
    width:400px;
    height:400px;
    border:2px solid black;
    box-shadow:5px 5px 20px 10px whitesmoke;
    padding:20px;
    text-transform:capitalize;
    background:radial-gradient(rgba(0,0,0,0.5),rgba(255,255,255,0.5));
    border-radius:5px;
    z-index:100;
}
.input{
    width:100%;
}
.input input{
    width:75%;
    height:40px;
    outline:none;
    padding:5px;
    border-radius:5px;
    font-size:18px;
    font-weight:600;
    letter-spacing:1px;
}
.input button{
    width:23%;
    height:40px;
    border-radius:5px;
    font-size:16px;
    font-weight:600;
    background-color:grey;
    color:white;
}
.input button:hover{
    background:linear-gradient(aqua,blue);
    color:black;
}
.input-group{
    width:100%;
    margin-top:10px;
    padding:10px 0;
}
.input-group label{
    width:30%;
    font-size:20px;
    font-weight:700;
}
.input-group input{
    width:55%;
    padding:4px;
}
.group{
    width:100%;
    margin-top:10px;
}
.group .input-feild{
    margin-top:10px;
    font-size:20px;
    font-weight:700;
}
.group .input-feild label{
    margin-left:5px;
}
#btn{
    width:200px;
    margin:50px 65px;
    padding:8px;
    border-radius:5px;
    background:linear-gradient(to left,aqua,yellow);
    font-size:15px;
    font-weight:600;
    text-transform:capitalize;
    cursor:pointer;
}

